@page
@model Pizzaria.Pages.CreateModel
@using PizzariaLibrary.Models

@{
    var pizza = new Pizza();
}

<div>
    <label asp-for="@pizza.Nome"></label>
    <input type='text' class='none' asp-for="@pizza.Nome"/>
    <span class="none" asp-validation-for="@pizza.Nome"></span>
</div>
<div>
    <label asp-for="@pizza.Descricao"></label>
    <input type='text' class='none' asp-for="@pizza.Descricao" />
    <span class="none" asp-validation-for="@pizza.Descricao"></span>
</div>
<div>
    <label asp-for="@pizza.Tipo"></label>
    <input type='text' class='none' asp-for="@pizza.Tipo" />
    <span class="none" asp-validation-for="@pizza.Tipo"></span>
</div>
<div>
    <label asp-for="@pizza.Valor"></label>
    <input type='text' class='none' asp-for="@pizza.Valor" />
    <span class="none" asp-validation-for="@pizza.Valor"></span>
</div>

<button class="salvar-button" type="submit"> Adicionar pizza </button>


