@page
@using PizzariaLibrary.Data;
@using PizzariaLibrary.Repositories
@inject IPizzaRepository pizza
@inject IPizzaData pizzaData
@model CardapioModel

@{
	var pizzaList = pizzaData.GetAllPizzas();
}

<div class="criar-nova-pizza-div">
	<a asp-page="/Cardapio/Create" class="criar-nova-pizza-button">
		Criar nova pizza
	</a>
</div>

<div class="row" id="cardapio">
    @foreach (var pizza in await pizzaList)
    {
		<div class="col-md-12" id="pizza-box">
			<div>
				<div class="pizza-nome">@pizza.Nome</div>
				<div class="pizza-tipo">@pizza.Tipo</div>
				<div class="pizza-descricao">@pizza.Descricao</div>
				<div class="pizza-valor">R$@pizza.Valor</div>
			</div>

			<div class="crud-pizza-button-div">
				<a asp-page="/Cardapio/Update" asp-route-id="@pizza.Id" class="crud-pizza-button">
					Atualizar
				</a>
				<a asp-page="/Cardapio/Details" asp-route-id="@pizza.Id" class="crud-pizza-button">
					Detalhes
				</a>
				<a asp-page="/Cardapio/Delete" asp-route-id="@pizza.Id" class="crud-pizza-button">
					Deletar
				</a>
			</div>
		</div>
	}
</div>


