@page
@using PizzariaLibrary.Models
@model Pizzaria.Pages.Cardapio.UpdateModel

@{

}

<form method="post">
    <div class="pizza-form">
        <div class="pizza-form-div">
            <label asp-for="@Model.PizzaItem.Id" class="pizza-form-label"></label>
            <input type='text' class='pizza-form-textbox' asp-for="@Model.PizzaItem.Id" readonly/>
            <span asp-validation-for="@Model.PizzaItem.Id"></span>
        </div>
        <div class="pizza-form-div">
            <label asp-for="@Model.PizzaItem.Nome" class="pizza-form-label"></label>
            <input type='text' class='pizza-form-textbox' asp-for="@Model.PizzaItem.Nome" placeholder="Nome da Pizza" />
            <span asp-validation-for="@Model.PizzaItem.Nome"></span>
        </div>
        <div class="pizza-form-div">
            <label asp-for="@Model.PizzaItem.Descricao" class="pizza-form-label"></label>
            <input type='text' class='pizza-form-textbox' asp-for="@Model.PizzaItem.Descricao" placeholder="Descrição/Ingredientes" />
            <span asp-validation-for="@Model.PizzaItem.Descricao"></span>
        </div>
        <div class="pizza-form-div">
            <label asp-for="@Model.PizzaItem.Tipo" class="pizza-form-label"></label>
            <input type='text' class='pizza-form-textbox' asp-for="@Model.PizzaItem.Tipo" placeholder="Salgada/Doce" />
            <span asp-validation-for="@Model.PizzaItem.Tipo"></span>
        </div>
        <div class="pizza-form-div">
            <label asp-for="@Model.PizzaItem.Valor" class="pizza-form-label"></label>
            <input type='text' class='pizza-form-textbox' asp-for="@Model.PizzaItem.Valor" placeholder="R$" />
            <span asp-validation-for="@Model.PizzaItem.Valor"></span>
        </div>
    </div>

    <div class="salvar-button-div">
        <button class="salvar-button" type="submit"> Salvar </button>
    </div>
</form>

@{
}
